<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="Level" value="INFO"/>
      </factoryAdapter>
    </logging>
  </common>

  <appSettings file="Local.config">
    <add key="Hostname" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="UpdateIntervalInMinutes" value="720" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>